body {
    
}

h2{
    margin-left:30px;
}

h3{
    margin-left:30px;
}


#line-master{
    margin-left:20px;
}

#menu-botoes{
    width: 400px;
    height: 300px;
    position: relative;
    top: 50%;
    left:32%;
}

#left-column{
    width:40%;
    position:absolute;
}

#left-column img{
    margin-top:20px;
    margin-left:30px;
}

#right-column{
    width:40%;
    float:right;
    position:relative;
}

.right-column{
    margin-top:20px;
    margin-right:30px;
}

#right-column img{
    margin-top:20px;
    margin-right:30px;
}

/*Facebook*/
#facebookMain{
    color:#365899;
    background-color:#e9ebee;
    font-family:sans-serif;
    font-weight:bold;
}

#fb-title{
    background-color:#365899;
    height:45px;
}

#fb-title a{
    margin-left:15px;
    text-decoration:none;
    color:white;
    font-size:13px;
}

#fb-icon{
    width:40px;
    height:40px;
    margin-left:50px;
    margin-right:20px;
    vertical-align:middle;
    margin-top:3px;
}

#fb-cover{
    height:300px;
    overflow:hidden;
    margin-left:100px;
}

#user-cover{
    margin-top:-40px;
}

#fb-picture{
    border:10px;
}

#user-picture{
    height:165px;
    width:165px;
    position:absolute;
    margin-top:-135px;
    margin-left:120px;
    
    padding:4px;
    border:1px solid #a39e9e;
    background-color:white;
}

#user-name{
    position:absolute;
    margin-top:-40px;
    margin-left:310px;
    color:white;
    font-size:25px;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}


